# build output
dist/
.output/

# generated Astro types
.astro/

# dependencies
node_modules/

# environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# editor directories
.idea/
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
